* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form {
  width: 80%;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main form h1 {
  color: #ffffff;
  cursor: pointer;
}

main form .nomeEmail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main form .nomeEmail div {
  width: 49%;
}

main form div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

main form div label {
  color: #ffffff;
}

main form div input,
main form div textarea {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  padding: 10px;
  transition: 0.3s ease;
  color: #ffffff;
}

main form div input:focus,
main form div textarea:focus {
  outline: 0;
  border: none;
  border: 1px solid #ffffff;
}

main form .btn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: red;
  color: white;
  cursor: pointer;
}

& footer {
  height: 15%;
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 10px;

  & li {
    color: white;
  }

  & h3 {
    color: red;
  }
}
& header {
  height: 15%;
  background-color: gray;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;

  & img {
    max-width: 250px;
    max-height: 200px;
  }

  & ul {
    display: flex;
    gap: 10px;
    color: red;
  }
}
